- name: Initialize all dns entries lists
  set_fact:
    dns_zones_all_local: []
    dns_zones_all_remote: []

- name: Get all cloudflare zones (names)
  uri:
    url: "https://api.cloudflare.com/client/v4/zones"
    method: GET
    headers:
      Authorization: "Bearer {{ api_token }}"
      Content-Type: "application/json"
    return_content: yes
  register: zone_results

- name: Convert Cloudflare JSON to YAML-friendly variable
  set_fact:
    result_dns_zones: "{{ zone_results.json.result | map(attribute='name') | list }}"

- name: Debug Cloudflare zones
  debug:
    var: result_dns_zones

- name: Fetch Cloudflare Zone IDs
  uri:
    url: "{{ cloudflare_api_base }}?name={{ item }}"
    method: GET
    headers:
      Authorization: "Bearer {{ api_token }}"
      Content-Type: "application/json"
    return_content: yes
  loop: "{{ result_dns_zones }}"
  loop_control:
    loop_var: item
  register: zone_info_results

- name: Debug Cloudflare zone_info_results
  debug:
    var: zone_info_results

- name: Fetch DNS records per zone (loop via include_tasks)
  include_tasks: "{{ role_path }}/tasks/cloudflare_saas/cloudflare_saas_fetch_single_zone.yml"
  loop: "{{ zone_info_results.results }}"
  loop_control:
    loop_var: zone_item
  vars:
    zone_id: "{{ zone_item.json.result[0].id }}"
    zone_name: "{{ zone_item.item }}"
    #dns_zones_all_remote: "{{ dns_zone_single }}"
  register: dns_zone_results

- name: Gather temporary zone files
  find:
    paths: "{{ dns_zones_file | dirname }}"
    patterns: "tmp_*.json"
  register: tmp_zone_files

- name: Read each temporary zone JSON file
  set_fact:
    dns_zones_all_remote: "{{ dns_zones_all_remote + (lookup('file', item.path) | from_json) }}"
  loop: "{{ tmp_zone_files.files }}"

- name: Delete temporary zone JSON files
  file:
    path: "{{ item.path }}"
    state: absent
  loop: "{{ tmp_zone_files.files }}"