- name: Initialize dns_entries for this zone
  set_fact:
    dns_entries: []

- name: Fetch DNS records page by page
  uri:
    url: "{{ cloudflare_api_base }}/{{ zone_id }}/dns_records?per_page={{ cloudflare_per_page }}&page={{ item }}"
    method: GET
    headers:
      Authorization: "Bearer {{ api_token }}"
      Content-Type: "application/json"
    return_content: yes
  loop: "{{ range(1, cloudflare_max_pages + 1) | list }}"
  loop_control:
    loop_var: item
  register: page_results

- name: Append page results to dns_entries
  set_fact:
    dns_entries: "{{ dns_entries + page_results.results | map(attribute='json.result') | sum(start=[]) }}"

- name: debug
  set_fact:
    dns_zone_single: "{{ [ {'zone': zone_name, 'dns_entries': dns_entries} ] }}"

- name: Write zone data to temporary file
  copy:
    dest: "{{ dns_zones_file | dirname }}/tmp_{{ zone_name }}.json"
    content: "{{ dns_zone_single | to_nice_json }}"