---
# tasks file for ansible_role_pull_dns_zones#
- name: Initialize all dns entries lists
  set_fact:
    dns_zones_all_local: []
    dns_zones_all_remote: []
    all_dns_zones: []
    
- name: Include DNS load vars from dns zone file
  include_tasks: "{{ role_path }}/tasks/load_vars_from_dns_zone_file.yml"

- name: Include DNS fetch_defined_zones tasks
  vars:
    dns_zones_all_remote: []
  include_tasks: "{{ role_path }}/tasks/cloudflare_saas/cloudflare_saas_fetch_all.yml"

- name: print dns_zones_all_local
  debug:
    var: dns_zones_all_local

- name: print dns_zones_all_remote
  debug:
    var: dns_zones_all_remote

- name: set new dns file content
  set_fact:
    all_dns_zones: "{{ dns_zones_all_remote }}"

- name: Generate DNS block and update inventory
  include_tasks: "{{ role_path }}/tasks/generate_block.yml"

